*.pyc

### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#IDE project files
.vscode
.vscode/launch.json

# Only for local development
FullfactFactCheckingSiteExtractor_extraction_failed.log
AapFactCheckingSiteExtractor_extraction_failed.log
FatabyyanoFactCheckingSiteExtractor_extraction_failed.log
VishvasnewsFactCheckingSiteExtractor_extraction_failed.log
SnopesFactCheckingSiteExtractor_extraction_failed.log
EuvsdisinfoFactCheckingSiteExtractor_extraction_failed.log
PolitifactFactCheckingSiteExtractor_extraction_failed.log
TruthorfictionFactCheckingSiteExtractor_extraction_failed.log
CheckyourfactFactCheckingSiteExtractor_extraction_failed.log
AfricacheckFactCheckingSiteExtractor_extraction_failed.log
AfpfactcheckFactCheckingSiteExtractor_extraction_failed.log
output_dev_fatabyyano.csv
output_dev_vishvasnews.csv
output_dev_aap.csv
output_dev_fullfact.csv
output_dev_snopes.csv
output_dev_politifact.csv
output_dev_truthorfiction.csv
output_dev_checkyourfact.csv
output_dev_africacheck.csv
output_dev_afpfactcheck.csv
